.privateMessages {
  height: 70vh;
  overflow-y: scroll;
}

.privateMessages__search {
  height: 64vh;
  overflow-y: scroll;
}

.userList {
  height: 80vh;
  overflow-y: scroll;
}

.userList__search {
  height: 73vh;
  overflow-y: scroll;
}

.message__self {
  margin-left: 10px;
}

.search__icon {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 20px !important;
}

.friends__list {
  height: 80vh;
  overflow-y: scroll;
}
